.admin {
    background-image: url(https://i.pinimg.com/736x/9f/37/aa/9f37aa445a67984f6ec6cd2059835650.jpg);

    margin-top: 700px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten si la pantalla es pequeña */
}

.formulario {
    flex: 1;
    max-width: 30%; /* Limita el tamaño del formulario */
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 600px;
}

.formulario h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.formulario p {
    font-size: 1.1em;
    margin: 8px 0;
}

.formulario input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.tablaAdmin {
    flex: 1;
    max-width: 48%; /* Limita el tamaño de la tabla */
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tablaAdmin table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

.tablaAdmin th, .tablaAdmin td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.tablaAdmin th {
    background-color: #567CBD;
    color: white;
}

.tablaAdmin tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tablaAdmin tr:hover {
    background-color: #e1e1e1;
}
