/* estilos/Login.css */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #181717; /* Beige */
}

.login-box {
  display: flex;
  width: 60%;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.logo-container {
  flex: 1;
  background-color: #4f5052; /* Team */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  color: #2F4156; /* Navy */
}

p {
  font-weight: bold;
  color: #2F4156;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #303031; /* Sky blue */
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background:rgb(233, 107, 34); /* Team */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #868c92; /* Navy */
}

.error {
  color: red;
  text-align: center;
  font-size: 14px;
}
