/* estilos/Login.css */
body {
  background-color: rgb(49, 48, 48);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.logo-container {
  flex: 1; /* Ocupa la mitad izquierda */
  background-image: url(https://i.pinimg.com/736x/ed/d6/0b/edd60b0149f79241c35b3655b0d59d5e.jpg);
  background-size: cover;
  background-position: center;
}

.form-container {
  flex: 1; /* Ocupa la mitad derecha */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 40px;
  
  background-image: url(https://i.pinimg.com/736x/6d/bf/3a/6dbf3a74083b9b7bd498be3964f8604c.jpg);

}

h1 {
  text-align: center;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-weight: bold;
  color: #151616;
  margin-bottom: 5px;
  
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #303031;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #ff2a00;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #868c92;
}

.error {
  color: red;
  text-align: center;
  font-size: 14px;
}
